[2018-12-13 14:44] hydroweaver opened #5 "Chrome share only shares Dev.to"
Chrome share option always shares https://dev.to/, even when copied to clipboard

[2019-03-06 18:37] sauravpratihar opened #6 "Interested to contribute on the following project"

[2019-03-12 20:13] maestromac commented on #5
This sounds like our web app issue. If this is still a problem, feel free to open an issue [here](https://github.com/thepracticaldev/dev.to/issues)

[2019-03-12 20:13] #5 closed

[2019-04-04 19:27] maestromac commented on #6
We appreciate your interest @sauravpratihar ! Please stay tuned as we roll our roadmap.

[2019-04-04 19:27] #6 closed

[2019-04-15 23:18] amardeshbd commented on #6
➕1️⃣Interested to contribute! Will keep an eye for contribution guideline 📖

[2019-04-22 21:35] maestromac opened #10 "Push Notification"
**Is your feature request related to a problem? Please describe.**
The app currently does not notify users that they have received a notification.

**Describe the solution you'd like**
This seems to require combination of JavaScript injection and 3rd party service like Firebase. It should also allow user to change their notification preference.

**Describe alternatives you've considered**
n/a

**A

[2019-04-22 22:32] maestromac opened #11 "Web Share API not working"
**Describe the bug**
We use Web Share API to simplify sharing. It current works on browser but not in the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app.
2. Click on any article.
3. Click on triple dot on lower right corner.
4. The Web Share API is not activated.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**

**Left

[2019-04-23 01:09] Zhao-Andy opened #12 "Signing in with Firefox as the default browser does not work"
## Current Behavior
If my default browser is Firefox and I attempt to sign in on the DEV Android app, it opens a new tab in the actual Firefox app that's waiting to be opened.

## Expected Behavior
I should be able to properly go through the OAuth sign in flow with any browser.

[2019-04-24 14:11] jessleenyc opened #13 "Update Adaptive Icon"
**Describe the bug**
Reported to yo@dev.to:

Found a bug, your adaptive icon has a no bueno background!

Ideally your background should be completely black and your foreground should be transparent with white DEV text. Otherwise when I shake the app on the home screen the attached happens, haha

**Screenshots**
![](https://cl.ly/6ae278e7e6b3/download/Image%202019-04-24%20at%2010.11.38%20AM.png)

[2019-04-24 14:16] Glennmen commented on #11
After a quick search it seems that Android Webview or Android CustomTabs don't support `Navigator.share()`: https://bugs.chromium.org/p/chromium/issues/detail?id=765923

[2019-04-24 14:45] c33s opened #14 "Add your app to f-droid.org"
https://f-droid.org/en/docs/Submitting_to_F-Droid_Quick_Start_Guide/

[2019-04-24 14:46] nourkilany commented on #12
I have the same problem. Moreover, when I try to login using either github or twitter it says csrf detected

[2019-04-24 14:48] c33s commented on #10
notification should work without google play services installed or at least the app should not quit if they are not installed (and also should not show a warning each time the app is opened).

the foss version of telegram is able to notify without google play services https://github.com/Telegram-FOSS-Team/Telegram-FOSS/

[2019-04-24 17:37] harnerdesigns commented on #12
Ran into a similar issue where the Twitter OAuth opens in Firefox, I sign in to twitter and it just redirects me to the Dev.To Homepage in Firefox (signed in as me) and doesn't sign me into the Native app.

[2019-04-24 18:38] siddeshpillai opened #17 "Title "MY READING LIST (EMPTY) is clipped on the navigation menu"
**UI bug**
MY READING LIST (EMPTY) text is clipped on the navigation menu in Pixel 2.

**Steps to Reproduce**
1. Open the app
2. Click on the top left hamburger button or swipe from the left edge of the screen to open the navigation menu
3. See screenshot section

**Expected behavior**
Either the text show flow to the next line or set the text pixel size based on the device's scale factor.

**Scre

[2019-04-24 19:40] ross-holloway94 commented on #12
I have this too. Also doesn't work if I launch the Github deeplink via the FastHub android app.

[2019-04-25 16:53] Bhupesh-V opened #18 "Choose File option does not work"
**Describe the bug**
The option to update the profile picture on the app is not responding.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings/Profile Image'
2. Click on 'Choose File'
3. See error

**Expected behavior**
The button does not respond.

**Smartphone (please complete the following information):**
 - Device: [Tenor G by Amazon]
 - OS: [e.g. 8.0 "Oreo"]

[2019-04-25 18:12] maestromac commented on #17
Thank you for the issue report. I think changing that to `MY READING LIST (0)` is also viable but it will be done with our web app.

[2019-04-25 19:02] maestromac commented on #14
Thanks for creating this issue @c33s . We'll have a team discussion on it.

[2019-04-25 19:05] maestromac commented on #11
Darn ☹️ . Thanks for that @Glennmen

[2019-04-25 20:35] MateuszBelczowski commented on #12
I'm also experiencing this one. After clicking "Sign in with Twitter" button, Twitter login page opens in Firefox and after filling the credentials, I'm not being redirected to the dev.to app

[2019-04-26 05:05] subbramanil commented on #18
I have a fair idea of how to fix this.

After googling for some time, I came to know that, the **WebViewClient** doesn't help a lot in this case, but **WebChromeClient** does. But both _WebViewClient_ and _WebChromeClient_ offer different sets of functionalities, so replacing _WebViewClient_ with _WebChromeClient_ will not help.

Also, Webview can have both _WebViewClient_ as well as _WebChromeCli

[2019-04-26 07:29] zhanghanduo commented on #12
Same problem. Log in via Firefox, edge, fastHub have the same issue.

[2019-04-26 16:38] DevAspirerKlaus commented on #12
I've removed OAuth authorization in Twitter and/or GitHub and still can't login on the app.

[2019-04-27 11:16] VarunBarad opened #20 "Moving `main url` out of `strings.xml`"
**Is your feature request related to a problem? Please describe.**
The main url for the website (https://dev.to) is stored as a string resource. It currently works because the url is not being used at any place where a string-resource can't be accessed. But later as things are moved over to native code, there will be requirement to use that url where it is not possible to access a string resource.

[2019-04-28 22:34] jhw866 commented on #20
This is a good idea but I think the placement of the url should be elsewhere. I don't foresee it changing but having the url defined in the build.gradle and assigning during the build to be retrieved from the BuildConfig might be a better option. This allows the app to be a little more modular and still defines the url in a constants file that can be retrieved by anyone (android and java code). Ju

[2019-04-30 09:48] MateuszBelczowski commented on #12
I can confirm that new version resolves this problem, thanks :tada:

[2019-04-30 10:30] TimS- opened #23 "Option to change text size"
Sometimes I find the text size on the Android app a little small, depending on where I am and what I'm doing.

It'd be great if there were an option to adjust the text size, either directly from the reading pane or within the app settings, as changing my system wide settings in Android is not ideal.

[2019-04-30 15:48] harnerdesigns commented on #12
Updated App to the latest version from the app store and the issue has been resolved.

[2019-04-30 17:00] maestromac commented on #12
Thank you for being patient everyone! Please give latest version a try and let us know if the issue still persist.

Resolved with https://github.com/thepracticaldev/DEV-Android/pull/21

[2019-04-30 17:00] #12 closed

[2019-04-30 17:01] maestromac commented on #13
Resolved with https://github.com/thepracticaldev/DEV-Android/pull/19

[2019-04-30 17:01] #13 closed

[2019-04-30 21:52] maestromac commented on #20
Thanks for pointing this out @VarunBarad. I agree with @jhw866 : having it assigned at the higher level sounds more impactful.

[2019-04-30 22:15] maestromac commented on #18
Thank you for that detailed step @subbramanil !

If i'm following this correctly, the upload should be done automatically via the web-app. All you have to do is hit "save" at the bottom of the page and user profile will be updated.

[2019-05-01 14:16] maestromac opened #24 "The App does not load user profile or articles"
**Describe the bug**

I tried the process (erasing data, performing the login with Chrome) several time with always the same result.
Is there something I can do to correctly login or is it better waiting for an update?

and after the update

I erased the data and I log in via github (the login process is now inside app).

**To Reproduce**
Steps to reproduce the behavior:
1. TBA

**Expected behavio

[2019-05-01 20:22] subbramanil commented on #18
Yeah, I see what you mean. When I click on 'submit', the form field "Choose File", should have the path to the chosen image. When you click on 'save', it submits the form which updates the profile.

[2019-05-03 14:25] VarunBarad commented on #20
I too agree with @jhw866 and suggest that we define both a `BuildConfig` (that value will be available in Java/Kotlin code) and a `resourceConfig` (this value will be available to access in xml resource files).
If everything is fine with this approach then I can make the change and open a PR.

[2019-05-20 21:27] maestromac commented on #20
Resolved with https://github.com/thepracticaldev/DEV-Android/pull/27

[2019-05-20 21:27] #20 closed

[2019-05-21 01:39] michael-tharrington opened #29 "Image Upload Tool Not Working"
We received this bit of feedback about the image upload tool:

"Hello, I came here to report some problems I saw on the Android app
First: the image upload tool is not working, as you might imagine since the app also does not request permission to use internal storage."

[2019-05-21 05:49] Bhupesh-V commented on #29
Hey @michael-tharrington a similar issue #18 is already there

[2019-05-21 12:18] michael-tharrington commented on #29
Oh whoops! I should've taken a deeper look. Thanks @Bhupesh-V ... I'm going to close this one.

[2019-05-21 12:18] #29 closed

[2019-05-22 09:42] Glennmen commented on #14
@maestromac I did some research in how the F-Droid app submission works, I think none of the steps need to be done by an official team member.

If you are okay with it I can try to make a MR (Gitlab PR) ready and post the link here so you can review it before I make the actual MR to the F-Droid repo.

I don't use F-Droid myself but a client is interested in adding their own F-Droid store to their

[2019-05-31 14:07] dev-arjunan opened #33 "Unable to upload profile image in android mobile app"
**Describe the bug**
I'm unable to upload new profile image from android app.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'top right corner and tap on profile'
2. Click on 'settings'
3. Scroll down to 'Profile Image section'
4. Tap on "Upload" button

**Expected behavior**
It should open up window to choose image from gallery

**Screenshots**
If applicable, add screenshots to help

[2019-05-31 14:10] maestromac opened #31 "Unable to upload profile image in android mobile app"
@dev-arjunan commented on [Fri May 31 2019](https://github.com/thepracticaldev/dev.to/issues/3013)

**Describe the bug**
I'm unable to upload new profile image from android app.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'top right corner and tap on profile'
2. Click on 'settings'
3. Scroll down to 'Profile Image section'
4. Tap on "Upload" button

**Expected behavior**
It should

[2019-05-31 14:10] maestromac opened #32 "Unable to upload profile image in android mobile app"
@dev-arjunan commented on [Fri May 31 2019](https://github.com/thepracticaldev/dev.to/issues/3013)

**Describe the bug**
I'm unable to upload new profile image from android app.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'top right corner and tap on profile'
2. Click on 'settings'
3. Scroll down to 'Profile Image section'
4. Tap on "Upload" button

**Expected behavior**
It should

[2019-05-31 14:12] #31 closed

[2019-05-31 14:12] #32 closed

[2019-05-31 14:14] maestromac commented on #33
Thanks for this report @dev-arjunan ! Sorry about confusing issue transfer I did. This is already address in the new 1.2 released in beta channel. I'll keep you updated when the it's released to production.

[2019-05-31 14:20] maestromac commented on #18
I found an edge-case with the upload feature. If the gallery is launched by `choose file` and nothing was selected (ie. closing the gallery), subsequent clicks on `choose file` will not prompt the launcher.

[2019-05-31 14:27] maestromac commented on #24
Probably the same with https://github.com/thepracticaldev/dev.to/issues/2790

[2019-05-31 14:27] #24 closed

[2019-05-31 16:15] maestromac commented on #33
The new version was just released. Please give latest version a try (could take 1-2 hours for it to be publicly available) and let me know if the problem still persists!

[2019-05-31 16:15] #33 closed

[2019-05-31 18:05] subbramanil commented on #18
@maestromac My bad, I didn't test it thoroughly.

Found what's actually causing it and fixed it. Testing the fix right now.

I will submit another PR by the end of today.

[2019-05-31 20:08] subbramanil commented on #18
@maestromac I have submitted a PR that fixes the issue. This is the simplest solution without saving any state information.

Just a heads-up, The below behavior is the intended behavior of Android.

1. Click on `Choose File` and go to the gallery and select a pic
2. The form field shows the file chosen
3. Click on `Choose File` again, and cancel the operation by clicking 'back'/choose nothing in t

[2019-06-03 19:36] maestromac commented on #18
No worries and thanks for such a fast fix @subbramanil ! In regard to that intended android behavior, that can be addressed in another PR since I doubt many will encounter this bug.

[2019-06-03 19:42] maestromac commented on #18
Resolved with https://github.com/thepracticaldev/DEV-Android/pull/26 https://github.com/thepracticaldev/DEV-Android/pull/34

[2019-06-03 19:42] #18 closed

[2019-06-03 19:47] Glennmen commented on #14
@maestromac We can talk on DEV connect if you want to discuss this.

[2019-06-04 01:55] arjunans commented on #33
Hi team,
I have updated app now.  When I tap on upload button,  I'm able to get gallery and select image but it's throwing error when I submit to save profile image.

Error message that I got "Profile image image size Should be less than or equal to  4096x4096. You can see " Image" Word twice in error message and why do mobile image need 4096 size?
![Screenshot_2019-06-04-07-20-26-524_to dev dev_a

[2019-06-05 19:04] maestromac commented on #33
Hmm that is interesting. This might be specific to the android app.

Can you please create a separate issue for that bug @arjunans ?

[2019-06-06 22:13] robertoissc opened #35 "Clear back history on tapping home link"
**Is your feature request related to a problem? Please describe.**
When navigating through the app the back history keeps growing infinitely without clear hierarchy.

**Describe the solution you'd like**
It'd make sense to me to clear back history if I click on the home link on the top bar as I'm returning to the entry point of the application.

I'd like to implement this if this gets approved. :)

[2019-06-07 18:29] maestromac commented on #35
Thanks for the issue @robertoissc . I agree with this. Approved!

[2019-06-07 21:32] robertoissc commented on #35
Thanks @maestromac!
WIP

[2019-06-08 15:56] samfcmc opened #36 "Stuck on Offline page upon start"
**Describe the bug**
Two days ago, I tried to open the app and it just shows me the offline screen (see screenshot).

I have been using the app for more than a month without any issues. But since two days ago I always get this error. I can't do anything, like logout or something.

If I open Google Chrome and type "dev.to" I can use the web app without any problems. Only the apps returns me this er

[2019-06-08 19:53] maestromac commented on #36
Thanks for the error report @samfcmc . Can you try uninstalling and reinstalling the app? Let me know if the error still persist.

[2019-06-09 21:06] justinenz commented on #36
**Describe the bug**
I have the same bug as @samfcmc

**To Reproduce**
Unsure, seems to have started on its own?

**Expected behavior**
Show the dev.to feed

**Smartphone (please complete the following information):**

    Device: Samsung Galaxy Note 9
    OS: Android
    Version 9.0.0

**Additional context**
dev.to app version: 1.2
dev.to Beta: No

_First attempt at resolving_
Force closed dev.to

[2019-06-11 07:33] samfcmc commented on #36
I reinstalled the app. I was able to login and see the feed. Later on, when I try to open the app again, the offline screen returns. I can only see the feed the first time I use it after installing the app.

[2019-06-11 21:14] maestromac commented on #36
I'm experiencing this issue too now. I'm going out of the limb to say that this is most likely caused by Service Worker.

[2019-06-12 12:53] ghost opened #37 "Error URL does not exist when trying to save articles"
**Describe the bug**
A clear and concise description of what the bug is.

I keep getting the error about URL does not exist when trying to save posts - please see attached screenshot. It was using the DEV app on Android.

**To Reproduce**
Steps to reproduce the behavior:
Log into account via mobile app.
Click on edit for one of your articles
Click on save
The error appeared

NOTE! This error only

[2019-06-12 12:56] ryanwhocodes commented on #37
![Screenshot_20190608-123303_DEV   Community](https://user-images.githubusercontent.com/22416807/59352932-c75d7380-8d19-11e9-9216-6a605d8c8a81.jpg)

Above is a screenshot of the error

[2019-06-12 12:57] ryanwhocodes commented on #37
Apologies, was trying to add the screenshot via desktop view on a mobile phone screen and accidentally closed the issue, reopened it again now.

[2019-06-12 20:46] maestromac commented on #36
Thanks for those infos @samfcmc . I've verified that this is indeed caused by Service Worker; It is being too aggressive with offline page. I will be deploying a tweak via the web app.

[2019-06-13 07:02] Xarybdis opened #38 "Does Dev share API?"
I want to create an app for DEV. With webview feature its really annoying to wait for responses from webview. So I wanna ask that is there any API's provided by DEV? And I can use in my app.

[2019-06-13 07:04] Glennmen commented on #38
It is very new and only beta: https://dev.to/api

[2019-06-13 07:54] Xarybdis commented on #38
Thank you for it.

[2019-06-13 15:42] #38 closed

[2019-06-13 15:43] maestromac commented on #37
That's alright @ryanwhocodes . Can you share a complete raw markdown for this?

[2019-06-13 15:51] ryanwhocodes commented on #37
No sorry, I ended up deleting this in the end. If nobody else has this issue then I don't mind closing it. The error was a bit cryptic, eg I didn't know which line in the markdown file may have caused it or whether something was happening elsewhere in the code operations...

[2019-06-13 16:02] maestromac commented on #37
All good. We can keep this open in case anybody else run into it, then let stale-bot take care of it when the time comes.

[2019-06-15 16:26] samfcmc commented on #36
@joshuadeguzman I don't need to turn off WiFi or data. After I closed it, it becomes unusable. I am closing it by touching the "Overview" on the bottom side of my phone and force the app to close. Then, I have to delete the app data to be able to use it again.

[2019-06-19 06:20] sierisimo commented on #36
I was trying to figure out in code this but it's hard because there's no special URL for the offline page and the app just renders a custom `webview`.

One thing that came up to my mind is to add a "reload" if the URL is the "_base url_" in the method `onStart` but this will lead to other kind of problems with the cache of the custom webview.

Another option could be:
* checking for internet when

[2019-06-21 07:53] igagrock commented on #36
Same here. OnePlus 3t.

[2019-06-21 14:27] MSF-Jarvis commented on #36
Exact same behaviour as @samfcmc, had to clear data to regain functionality. Appears the fix didn't work?

[2019-06-21 18:15] sierisimo commented on #36
The fix to this has to be achieved in the web team. For android the things we can achieve require to know the explicit URL or check on every launch for a reload of the webview.

Doing the reload of the webview will lead to more issues than the fix from the webworker

[2019-06-21 18:26] MSF-Jarvis commented on #36
I'm aware. I saw Mac land a Service Worker update in master (https://github.com/thepracticaldev/dev.to/commit/0af2a0a7dc941d0522c82373b1af0d7706649037) which was why I said what I did.

[2019-06-21 19:33] maestromac commented on #36
Yep the fix will have to be done on the web app. I'm channeling the conversation to here for the time being since I see higher occurrence through the mobile app.

At the moment, I can't seem to reproduce the error at all on my OnePlus 6T Android 9.0.14. Perhaps using both WebViewClient and WebChromeClient is causing some conflict with SW? Whatever it is, it is causing [fetch](https://github.com/th

[2019-06-27 14:34] maestromac commented on #36
Judging by the bug's sudden appearance and how it's also affecting Facebook's browser, I believe this is a chromium bug https://bugs.chromium.org/p/chromium/issues/detail?id=977784

[2019-06-27 16:42] maestromac commented on #36
It seems like the fix was rolled out yesterday by the Chromium team and it will take a few days for everybody to receive it. If you are still hitting the offline page upon start, clearing the cache once or twice should resolve the it as per Chromium team's suggestion.

I am keeping and eye on it if to see if there's any further action we need to take.

[2019-06-27 16:46] MSF-Jarvis commented on #36
Clearing cache seems to have resolved the problem on my end. Will be on the lookout for Chrome updates on my devices.

[2019-06-28 20:09] neex-io commented on #36
I cleaned the cache and reinstalled the app. It opened fine. I did not log in and the 2nd time around it was offline again.

[2019-07-07 15:00] MSF-Jarvis commented on #36
Haven't hit this again in the past week

[2019-07-09 14:54] maestromac commented on #36
Are you still experiencing this issue @neex-io ?

[2019-07-09 17:01] MSF-Jarvis commented on #36
And right on cue, stuck on offline page again 🤐

[2019-08-20 20:53] joanb opened #45 "Adding Detekt"
I think it would be nice to have [detekt](https://github.com/arturbosch/detekt) code analysis for the Kotlin code.

It would have at least the following beneifts:
 - Code style standarization
 - Typical static code analysis stuff: complexity, code smells, etc
 - Easier to digest code reviews
 - Ensure a minimum of quality

For that being posible, it would be nice to trigger detekt when a PR is gen

[2019-08-26 06:04] Tanjaddaniel commented on #37
For this issue, you only need to contact a https:/www.xgeeksquad.com/geek-squad-total-tech-support/ - **Geek Squad Total Tech Support Number +1(888)383-7303** operates smoothly to serve customers and has a broad range of solutions to problems, our **Geek Squad Support** offers you with all the responses to your problems.

[2019-09-04 20:00] maestromac commented on #45
Yes! this would be great

[2019-09-06 05:30] sierisimo commented on #45
Detekt is a great tool and adding configurations is really smooth. If some help is needed, count me in!

[2019-09-06 05:30] sierisimo commented on #36
Haven't faced the issue in a while… is still a thing?

[2019-09-06 06:27] msfjarvis commented on #36
Can confirm the issue hasn't showed up since my last comment.

[2019-09-06 13:39] maestromac commented on #36
Thank you for the update.

This issue is resolved

[2019-09-06 13:39] #36 closed

[2019-09-09 04:33] xuhaibahmad commented on #45
Haven't seen any progress on this one yet. Is it okay if I create a PR for this?

[2019-09-09 06:06] sduduzog opened #48 "App looses state when external link is open or when its sent to background"
**Describe the bug**

When sharing an article or opening a medium link from an article, the app will either open an in-app browser or an installed app related to the link being opened when you return to the app, you're presented with the splash screen and the home page loads

**To Reproduce**

1. Go to article
2. If the article has a link to external resource, click on it.
3. If it doesn't, click

[2019-09-09 09:07] jmfayard opened #49 "Reading list as default page"
Hello,
When I am on the desktop, I mostly want to **browse**  the website.
When I am on the smartphone on the other hand, that's a bad idea IMHO.
I would rather focus on **reading** what is in my reading list.

To enforce this, I would like to have the option to set the first screen to be my reading list.

I'm willing to implement it if you tell me how

[2019-09-11 08:16] joanb commented on #45
Sorry i was on vacation. I'm glad it's been approved :)

[2019-09-16 13:29] #45 closed

[2019-09-26 21:28] #35 closed

[2019-10-08 13:02] Delta456 opened #51 "Image uploading still doesn't work"
**Android Version**: 5.0 Lollipop

**Version**: 4.2

Posting an image doesn't work after the fix done in `version 4.2`.

[2019-10-13 01:17] Pheonix73 commented on #23
@maestromac is this currently been worked on?

[2019-10-14 10:15] VarunBarad commented on #11
I've got an idea on this, I've opened a PR to include an Android <-> WebView bridge. This will allow us to invoke the native share sheet instead of the `Navigator.share()` which isn't supported in Android WebView.

If that is acceptable then we can start with this share issue to include more native code.

[2019-10-14 20:49] sierisimo commented on #10
This should be easy to implement if #53 is added to the project.

[2019-10-17 16:37] subbramanil commented on #51
@Delta456 Can you add bit more description? Screen, Steps to reproduce, etc.,

[2019-10-19 05:20] Delta456 commented on #51
@subbramanil Normal steps on how to upload an image?

[2019-10-20 14:33] #48 closed

[2019-10-21 07:43] jmfayard opened #58 "Copy URL broken & Android share dialog"
Hello,
Copy pasting a link to a dev.to article works for me in chrome but do not work inside the dev.to Android app

[2019-10-21 10:39] VarunBarad commented on #58
Can you please explain a bit more?
Where does the pasting not work? When writing/editing an article/comment? If not there then where?

Can you give steps to reproduce the problems?

[2019-10-21 14:18] jmfayard commented on #58
@VarunBarad
clicking on the URL in this screen copy the URL when I open an article in Chrome, but not when I do it inside the Android app

![photo_2019-10-21 16 17 47](https://user-images.githubusercontent.com/459464/67213456-56903b80-f41e-11e9-930b-b4af335a1b77.jpeg)

[2019-10-22 03:11] VarunBarad commented on #58
@jmfayard I just tried it both in the app and in chrome and it didn't work at any of those places 😅

[2019-10-22 05:44] jmfayard commented on #58
You are right. It used to work though so that's probably a recent regression.

Suggestions:
- fix the website itself
- in the Android app, I feel that this feature should be overridden and that the native Android share dialog should be used instead. It includes a copy URL feature

[2019-10-22 08:57] VarunBarad commented on #58
You are right. The website needs to be fixed because it is expected that the copy URL functionality should work in Chrome atleast.

Regarding the Android app. We would need to implement two separate things from what you are saying. Because the "Share" functionality shares the title of the article along with its URL. So when a user decides to share for example [this article](https://dev.to/ben/my-n

[2019-10-22 10:49] jmfayard commented on #58
@VarunBarad ah yes, Android is annoying about this.
There is a work-around for this:
https://cketti.de/2016/06/15/share-url-to-clipboard/

[2019-11-09 22:58] manan30 commented on #51
@Delta456 is it applicable to all the views wherever image uploading is possible or just a particular view?

[2019-11-10 10:43] Delta456 commented on #51
@manan30 Applicable to all views

[2019-11-10 18:38] manan30 commented on #51
So yesterday I tried replicating this issue but unfortunately wasn't able to do so. Is this happening only on Android 5? I had tested this issue on Android 10 and it seems to be working fine.

[2019-11-13 12:07] c33s commented on #14
any news on this?

[2019-11-13 12:22] Glennmen commented on #14
Mac was going to throw this in an internal team discussion but haven't received any feedback so far.
I am stil interested in working on this.

[2019-11-13 18:51] KelvnPere opened #62 "Enable Screen Orientation (Landscape) for Android"
**Is your feature request related to a problem? Please describe.**
I was actually on my bed, upside down and I tried viewing an article on my phone on landscape mode and it just didn't work. That was not cool

**Describe the solution you'd like**
I would like to be able to view articles on landscape mode, the same way it is been done on the PWA.

**Describe alternatives you've considered**
The onl

[2019-11-20 16:32] #58 closed

[2019-11-22 14:25] msfjarvis commented on #10
It uses a persistent foreground service for achieving that which has a significant battery consumption penalty. Using [WorkManager](https://developer.android.com/topic/libraries/architecture/workmanager.html) to fetch notifications at specific intervals is the most reasonable way I can think of right now that will work without GMS and won't burn through battery power.

[2020-01-10 20:38] subbramanil commented on #51
Is this still an open issue?

[2020-01-24 06:30] Amit408 opened #65 "upgrade pip 20.0.1"
here show me a warning
**how I upgrade pip version 19.2.3 to 20.0.1**....

please help me solve it..

i'm just now beginner..learning

[2020-01-24 10:15] #65 closed

[2020-02-21 03:12] JesseKPhillips opened #66 "Add ability to copy comment permanent link"
The dev.to app is my default viewer for dev.to urls. It is possible to select the permanent link for viewing in the app but not copy for sharing.

[2020-02-21 20:26] fdoxyz commented on #66
Hi @JesseKPhillips thanks a lot for the report! I just looked into what you mention and I I can't find a way to copy the permalink either.

It's a valuable feature to have IMO. We'll hope to report back here in the future if/when we decide to work on it.

My first impression is that we could tackle this using webkit message handlers (if possible), similar to other features implemented in the iOS a

[2020-03-03 21:50] giancarlopro opened #67 "Was writing a post on the app and it reloaded"
**Describe the bug**

I was in the middle of writing a post and the app suddenly reloaded

**To Reproduce**

1. Go to write post
2. Wait a few minutes
3. Maybe see the error

**Expected behavior**

Be able to write without losing the content on app reloading

**Smartphone (please complete the following information):**
 - Device: Moto G5 Cedric
 - OS: LineageOS
 - Version: 16.0

**Additional contex

[2020-03-29 01:54] jaeheonshim opened #69 "Offline "drawing screen" scrolls on Android app making it hard to draw"
**Describe the bug**
On the drawing page that the app provides to users who don't currently have internet access, the page scrolls up and down, making it hard to create a decent masterpiece.

**To Reproduce**
1. Turn off wifi on your device
2. Close the app if it was already open
3. Open the app and see the page that says "So, there's good news and bad news"
4. Try to draw.

**Expected behavior**

[2020-04-06 19:25] thamaraiselvam opened #116 "Copy link not working on android 10"
Copy button on article social sharing not working on android latest Android app.

1.go to any article
2. click share icon
3. click  copy icon

it's not copied anything.

Android version 10

App version 1.2.1

[2020-04-22 13:42] maestromac commented on #66
Resolved with https://github.com/thepracticaldev/DEV-Android/pull/70

[2020-04-30 22:50] fdoxyz opened #73 "Authentication error with GitHub"
**Describe the bug**
GitHub Authentication method is not working in the app due to a recent change in the Manifest file

**To Reproduce**
In production version `1.3.0` log in with GitHub authentication

**Smartphone (please complete the following information):**
 - Device: Samsung Galaxy S8
 - OS: 9
 - Version: `1.3.0`

Got a PR for this in a minute for review

[2020-04-30 23:15] fdoxyz commented on #73
The error was introduced due to a change in the Manifest [here](https://github.com/thepracticaldev/DEV-Android/commit/ccf4aa250f478380d3fb99c1073459d19135707b)

[2020-05-01 00:03] maestromac commented on #73
Resolved with https://github.com/thepracticaldev/DEV-Android/pull/74

[2020-05-01 00:03] #73 closed

[2020-05-20 06:07] nivethsaran opened #76 "Add a Swipe to Refresh option"
When one is not connected to the internet, the app displays a "Web page not available" message. But, after the network connection is established, one has to restart the app. So, instead, it would be better to have a reload option.

**Possible Solution**

Add a SwipeRefreshLayout and enable it when there is no internet connection

[2020-05-20 13:47] fdoxyz commented on #69
Hello @jaeheonshim, thank you for your report! This is something I can replicate from my end and it happens on both a plain browser from my phone and the app. This will need to be addressed in the web side of DEV ([main repo](https://github.com/thepracticaldev/dev.to)).

To our amazing contributors: issues labeled type: bug are always up for grabs. To claim an issue to work on, please leave a comm

[2020-05-20 14:18] fdoxyz commented on #76
Hi @nivethsaran thanks for the report!

Without an active internet connection I can reproduce this on a fresh install or by deleting the app storage data from the settings. This because once the service worker has been loaded by browsing the site successfully (at least once) an offline page appears and the top icon kind of helps.

But I still agree that a way to reload the exact URL we were browsi

[2020-05-25 08:37] Delta456 commented on #51
It works now!

[2020-05-25 08:37] #51 closed

[2020-05-25 15:32] nizarmah commented on #76
Hello @fdoxyz, sorry I didn't claim that issue yet. I saw it yesterday and I was interested in applying it.

I did apply it, however, not using `ConnectivityManager`. Yet, it still works the way you want. If any of the pages fail to load because of the absence of an internet connection, the page is automatically refreshed/reloaded when the device is back online.

[2020-05-25 16:11] fdoxyz commented on #76
Hi @nizarmah, thanks for the PR! I'll take a look into it soon

[2020-05-25 19:26] Rec0iL99 opened #78 "Duplicate .gitignore files in the repository"
**Describe the bug**
Currently there are various different duplicate .gitignore files in the whole repository.
* app/.gitignore
* data/.gitignore
* baseui/.gitignore
* buildSrc/.gitignore

**Expected behavior**
There should be just one root .gitignore file.

[2020-05-25 19:27] Rec0iL99 commented on #78
@fdoxyz I would like to work on this issue.

[2020-05-26 12:23] fdoxyz commented on #78
Hello @Rec0iL99 thank you for the report! I can't think of a reason why multiple `.gitignore` files are necessary, it would be easier to navigate if everything was in a single one.

I'm assigning you the issue, feel free to send in a PR or ping me if you need any help 🙂

[2020-05-26 20:01] Rec0iL99 commented on #78
@fdoxyz thanks a lot for assigning this issue to me. I have opened a PR linking ths issue.

[2020-05-27 11:11] nizarmah commented on #66
Since this is resolved, can the issue be closed please? Or will it get closed with the next release?

[2020-05-27 11:29] nizarmah commented on #23
Wouldn't this issue be better implemented on the web app?

[2020-05-27 18:24] #78 closed

[2020-05-28 14:12] fdocr opened #81 "Steamline release process using CI"
**Is your feature request related to a problem? Please describe.**
We want to better integrate CI tools to streamline the release process.

**Describe the solution you'd like**
#79 is a WIP PR that introduces Fastlane to integrate with Travis. Any help that can be provided here (conversation/suggestions) is greatly appreciated.

**TODO**:
- [x] Travis automated tests using Fastlane
- [x] Enable Tr

[2020-05-28 14:32] fdoxyz commented on #66
Revisiting this now: I made a mistake by referencing this from #70. They are related but not resolved by it.

We do have the copy to clipboard feature available thanks to [this PR in the web repo](https://github.com/thepracticaldev/dev.to/pull/7382), but this is only used on Article URLs & Copy to Clipboard when uploading an image to an Article. This feature request refers to the permalink of indi

[2020-05-28 14:44] nizarmah commented on #66
@fdoxyz I can figure out the change on the web app once I know how to navigate my way through the web app files. I know my javascript, but I don't know ruby or the structure of the projects or where to find what.

If there's something I also need to do on android, let me know so I can also do it. But from what I understood, all I need to do is call the android bridge to copy to clipboard, and if t

[2020-05-28 14:45] nizarmah commented on #76
@fdoxyz should this issue be closed or is there a bot that will close it automatically on next release?

[2020-05-28 17:04] fdoxyz commented on #76
Once the new version is out on the store and we can confirm we're good here I'll do a manual sweep closing this one 👍🏼

[2020-05-28 17:13] shubhamjadhav36 opened #82 "Login via Twitter issue"
**Describe the bug**
When i try to login via twitter on Dev App it will open up chrome browser, then from browser I'm able to login via twitter nd able to use the Dev on web.
But however when i close the browser and open my Dev app it wont recognise me. It will again asks for login .
If i try to login again then it will open browser and cycle goes on...

**To Reproduce**

**Expected behavior**

**

[2020-05-28 17:18] fdoxyz commented on #66
Sounds great @nizarmah thank you! I'll assign the issue to you then. My suggested next steps since you're giving this a try:

1. Setup your local development by following [docs.dev.to](https://docs.dev.to/installation/)
1. Make sure your local develpment works using a browser on `localhost:3000`
1. From the Android project, change your `chrome.baseUrl` & `chrome.baseHostname` from `gradle.properti

[2020-05-28 17:21] fdoxyz commented on #82
Thank you for the report @shubhamjadhav36!

I can't reproduce using a Samsung S8 with Android 9, but I'll look further into this soon.

[2020-05-28 22:50] #82 closed

[2020-05-29 11:41] nizarmah commented on #66
@fdoxyz sorry for the late reply. Docker compose makes everything so much easier. I used my local ip address and will be testing it on a real device, I got it to work. Anyway, I'll let you know when I have something. I won't directly start working on it, but it should be done by Monday, for sure.

[2020-05-29 12:26] fdoxyz commented on #66
That's great @nizarmah. I think you're in luck because the Docker configs have just recently been overhauled to work better than before, happy to hear it wasn't difficult to spin things up.

Yes, I'd say it would be better to avoid the redirect from the link and instead copy the URL when browsing with the Android app.

[This function](https://github.com/fdoxyz/dev.to/blob/pages-local-development/a

[2020-05-29 19:21] nizarmah commented on #66
@fdoxyz I added the code, and I checked if it works. The android device is copying the comment's url. However, there's a slight problem. `event.preventDefault()` or `event.stopPropagation()` isn't stopping the url's propagation.

Do you know exactly what is happening? Seems like the propagation isn't being done through the normal events. Please let me know, when possible.

[2020-05-29 19:56] fdoxyz commented on #66
Interesting... I'm not sure I can really tell what could be happening but it may have something to do with [InstantClick](https://docs.dev.to/frontend/instant-click)?

If you still can't figure it out feel free to open up a PR on the web repo and tag me in it. With a look at the code I may be able think of why this is happening or come up with an alternative solution 🙂

[2020-05-29 20:01] nizarmah commented on #66
Yeah, you might be right, it might be related to InstantClick. I'll open a draft pull request tomorrow. I'll tag you in it. It's been long since I did web development :sweat_smile:.

I'll also do my best at figuring out where the InstantClick is being called. Sadly, the issue is that I'm not good at navigating my way through web apps anymore :disappointed:

[2020-05-29 20:24] fdoxyz commented on #66
Haha no worries. Really appreciate the effort put into working this out! I'll definitely chime in on the PR whenever I get a chance 👍🏼

That is indeed a very interesting idea. However in that case it would be good to implement a more complete function similar to [this copyText()](https://github.com/fdoxyz/dev.to/blob/pages-local-development/app/assets/javascripts/initializers/initializeCommentDrop

[2020-05-31 04:20] maestromac commented on #81
@fdoxyz Travis is enabled

[2020-05-31 19:57] nizarmah commented on #66
@fdoxyz I believe I'll go with the Copy Comment URL thing. I will definitely create a function simialr to the `copyText()`. It will have to be a bit later than monday. I just started a new job (didn't expect that to happen that quickly sry about that) and I'm trying to catch up with them. Once I have a bit of free time I'll open a PR.

[2020-06-01 16:56] fdoxyz commented on #66
No need to apologize @nizarmah I'm happy to hear about the new job, congratulations!

Sounds great to me, try to remember to ping me whenever you do have that PR ready for review or if you need any other help with this at all 👍🏼

[2020-06-05 15:49] hieup5115 opened #84 "Title"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-06-05 19:01] fdoxyz commented on #84
Hello @hieup5115, did you submit this issue by mistake? Closing for now but feel free to reopen or ping me if you update the issue with information about a bug or feature request

[2020-06-05 19:01] #84 closed

[2020-06-06 07:32] nizarmah commented on #66
@fdoxyz I mentioned this issue in the PR on the Web App. I also added some screenshots there. Whenever you can, let me know if there are any tests for the files I editted. I personally wasn't able to find the tests related to what I editted, which makes me think that no tests were even present for the first `copyText`.

[2020-06-08 19:05] larson-carter opened #85 "Android - Natively"
Proposing: Migrate from a webkit view app to a native android app

Why?: It will bring a variety of things to the community - It will allow for more customization, it will allow for better support and stability. It will allow for more features on the user's end

Goal?: Make the app 100% in kotlin while eliminating the use of webkit.

Challenges?: This will be a massive challenge. We will basically

[2020-06-08 19:59] jacobherrington commented on #85
I haven't worked on the mobile side of DEV, so I had @larson-carter drop this issue to facilitate a discussion on their idea.

After a quick chat with @fdoxyz and @maestromac, it seems like there aren't a plethora of reasons this shouldn't be attempted, but we might have a few important things to consider before jumping on this project.

We'll definitely want to get @benhalpern's feedback on this

[2020-06-08 20:23] jevakallio commented on #85
There is no question that a native Android app could provide a better user experience than a WebView can.

I think an important consideration is to not focus on the best case scenario, but to think whether one approach actually *does* provide a better experience in the long run.

If the app was written natively for Android, consider the following tradeoffs compared to a WebView implementation:
- T

[2020-06-08 21:00] fdoxyz commented on #85
Hi everyone, thank you for sharing your thoughts around this idea.

Indeed the WebView approach has been valuable so far since we get almost immediate sync with features released on the website and also the reduced-effort in maintenance for the team, as mentioned by @jevakallio

These ideas and other project maintenance tasks could greatly benefit from Kotlin work without requiring a full rewrite

[2020-06-08 21:10] larson-carter commented on #85
I've never been a fan of write once - push twice. It has a lot of issues in my opinion. I think that it would best best for this upbringing to be done in kotlin

True, however if you weigh the pros and the cons of this approach then the pros for sure out weigh the cons.

Any native enhancements could benefit both iOS and Android apps.

I don't think that this will be a great approach. I've never b

[2020-06-08 21:56] akainth015 commented on #85
Not a DEV contributor, just here because I saw a request for feedback.

I'd like to make sure we keep this quote in mind

If there aren't currently issues with performance / size, then it is not a very good argument for a native rewrite.

I think these points would have to further elaborated; what customization would you add that cannot be done just with a WebView? How would users be better suppor

[2020-06-08 23:06] jevakallio commented on #85
@larson-carter you certainly make a very passionate case for a native rewrite! As I'm not a project contributor, I won't try to convince you or anyone of the superiority of any approach, and I'll leave the decision making to those who have more skin in the game :)

That said, in the spirit of MLH, I would suggest that when discussing the merits of one approach or the other, we try to make a case *

[2020-06-08 23:21] larson-carter commented on #85
Alright, so I'm going to directly compare react native (write once push twice approach) to Android Native (Kotlin or Java)

Sources:
https://www.netguru.com/blog/react-native-pros-and-cons
https://www.verypossible.com/blog/pros-cons-react-native-app-development
https://itcraftapps.com/blog/pros-and-cons-of-react-native-and-native-development/

# React Native
## Pros:

- One Framework, Multiple Pla

[2020-06-08 23:39] jevakallio commented on #85
@larson-carter those are some really good points both for and against React Native, and for and against platform-specific development! I'll take a look at the resources you've included, they look really useful!

However, just pasting that here doesn't really further the discussion much. For one, I don't believe the "two sides" here are React Native vs Kotlin.

In fact, the entire "two sides" mode

[2020-06-08 23:43] larson-carter commented on #85
@jevakallio Great, idea. I'll wait on some maintainers input then we can give some details on improving the app for the community side of things.

[2020-06-12 15:12] jessleenyc opened #86 "Can't play video on google pixel"
**Describe the bug**

**To Reproduce**

1. Visit https://dev.to/bytesized/byte-sized-episode-1-grace-hopper-3bp9
2. Try to play video
3. See error

**Screenshots**

![Screenshot_20200611-162518](https://user-images.githubusercontent.com/14931921/84517673-9d78bd00-ac9d-11ea-9324-8c0593e9dbd1.png)

**Smartphone (please complete the following information):**
 - Device: Google Pixel 3
 - OS: Android 1

[2020-06-12 17:50] fdoxyz commented on #86
Android's WebView implementation has problems reproducing Video from the HTML `video` tag. There doesn't seem to be a straightforward fix for this at the moment using "stock configuration" options from the WebView itself.

Possible solutions I can think of:
1. Customize our `CustomWebViewClient` to handle pages that have the HTML `video` tag and handle the playback in a separate view with a separa

[2020-06-12 20:41] benhalpern commented on #85
Hey folks sorry for not weighing in sooner.

I'm not absolutist on React Native vs Native Android as a discussion, but I am interested in focusing on the highest leverage areas.

I don't think it's the right call right now to be thinking about moving _views_ to fully native because we have a lot of exploration to do in terms of functionality and we sort of need the simplicity of only shipping one

[2020-06-15 13:31] larson-carter commented on #85
Me and @bartekpacia are interested in the Forem app. We just have a few questions:

1. Is the app going to be built into the dev to app? Or is it going to be an entirely separate app?
2. Has any code been written for this project yet? If so is it private? If not can we start on it ourselves?
3. Can we get digital markups of how you would like the UI/UX to look?

[2020-06-15 13:40] maestromac commented on #86
@fdoxyz Yeah option 2 sounds good.

[2020-06-15 17:47] fdoxyz commented on #85
Hi again @larson-carter, I'm glad you're both interested in the idea.

I don't believe there's any code up for this at the moment and I personally see this as a separate app, since the branding for Forem would be separate from DEV (the continuity of the DEV app is up in the air as well as soon as this new app is released).

The current app has components/patterns that can be ported and improved wh

[2020-06-15 18:41] larson-carter commented on #85
@fdoxyz Thank you for your reply. I'm going to go part by part and reply!

I agree that this should be separate from dev. However where will we store the codebase? Will we be able to store it inside of this org and we be added as collaborators? That way we can potentially gain more traction with it being nested under github/thepracticaldev instead of it being under my personal account

- @benhalpe

[2020-06-15 19:09] bartekpacia commented on #85
I'll just add that we could use some cross-platform framework (I'd prefer Flutter, I can elaborate on the advantages later on) and get near-native performance and single codebase.

PS It's just me wondering. It seems that the idea is at a very early stage.

[2020-06-16 19:55] fdoxyz commented on #85
The core objective of the Forem mobile app would be to act as a browser for multiple instances, where one could easily switch between communities and read/interact on them. This is probably the main (but not only) reason why using WebViews is the approach we are aiming to follow.

These instances are websites that run a generalized [DEV codebase](https://github.com/thepracticaldev/dev.to) (more de

[2020-06-19 18:00] fdocr opened #87 "Project directory restructure (Build Flavors)"
**Is your feature request related to a problem? Please describe.**

We've recently felt that the current project directory structure is a little too complex for our needs.

Our currently modular project directory (`data`, `buildSrc`, `baseui`, `app`) feels more appropriate for native apps that benefit from Activity/Fragment/ect reuse. In our case we deal with very few moving parts.

**Describe the

[2020-06-19 18:41] fdoxyz opened #88 "Bump the project minimum SDK API"
**Is your feature request related to a problem? Please describe.**

Some initial attempts bumping the project minimum SDK API haven't been successful, but it's still an important thing we want to do in order to give a better experience to users since we do rely on some calls that are not supported in the current minimum (API 18).

**Describe the solution you'd like**

At the moment targeting suppo

[2020-06-29 17:06] jacobherrington opened #91 "Uploading an image to post on android app"
@urielbitton commented on [Mon Jun 29 2020](https://github.com/thepracticaldev/dev.to/issues/8984)

The bug occurs when attempting to upload an image to a post from an android mobile phone on the dev.to app. The image fails to upload, and the page redirects to the home page. Upon visiting the write a post page again, the image hasn't uploaded and another attempt to upload an image results in the s

[2020-06-29 17:11] jacobherrington commented on #91
@urielbitton Do you mind adding some additional context to this issue? It'd be helpful if you could include the model of device you're using and Android version.

[2020-06-29 17:26] fdoxyz commented on #91
I wasn't able to reproduce locally with Android 9 on Galaxy S8. It would be very useful to get more info con device model, OS version and app version.

![image-test3](https://user-images.githubusercontent.com/6045239/86036482-2d876800-b9fb-11ea-86c6-09bd7e5c2f22.gif)

[2020-06-29 17:38] urielbitton commented on #91
I believe I specified the galaxy s10 on Android 10. Have you tried on that phone?

[2020-06-29 17:39] urielbitton commented on #91
The context is the same that i see in your video. Try it with the phone i specified.

[2020-06-29 17:40] urielbitton commented on #91
I see now that the majority of my issue wasn't recorded. I do not understand why.

[2020-06-29 17:43] urielbitton commented on #91
Ill try that again.

Bug:

The bug occurs when attempting to upload an image to a post from an android mobile phone on the dev.to app. The image fails to upload, and the page redirects to the home page. Upon visiting the write a post page again, the image hasn't uploaded and another attempt to upload an image results in the same result.

Device: samsung galaxy s10
OS: Android 10
App: android app,

[2020-06-29 21:39] fdoxyz commented on #91
Thank you for the follow up @urielbitton! I'll take a look again soon and see if I'm able to find the cause of the problem

[2020-07-02 13:21] #86 closed

[2020-07-16 12:54] alpkahveci commented on #11
Does not it still support the web share api?

[2020-07-20 13:58] vangyyy opened #93 "Consider changing app display name"
Name of the app is currently set to **DEV Community**. This name is too long and is often shortened by launchers to **DEV Com...** as shown in the attached screenshot (Im using Pixel launcher on Google Pixel 3 XL). This looks quite bad and is also not very descriptive in it's shortened form.

![screenshot](https://i.imgur.com/AyuuTRG.jpg)

I would suggest using **dev.to** since the app is basicall

[2020-07-27 13:36] fdoxyz commented on #11
Thank you for flagging this again @alpkahveci! Sorry for the slow response as well, our focus recently has been on other areas but this is an important feature I think could definitely use some attention.

@VarunBarad  I think your PR is the best solution for this. I know it's been a while, but would you be able to fix the merge conflicts for that? If not that's totally okay, would you be okay if

[2020-07-27 15:00] fdoxyz commented on #93
Thank you for flagging this @vangyyy! We'll definitely consider these suggestions to improve the way the app is displayed

[2020-07-27 18:02] VarunBarad commented on #11
I would always be happy to help @fdoxyz though I am in middle of some-things right now and "might" not be able to get to fixing those merge-conflicts before the upcoming weekend. I would rather want to fix the merge conflicts myself.

PS: Thanks for the comment on PR about the required fixes 🙂

[2020-07-27 18:12] fdoxyz commented on #11
That's great to hear @VarunBarad, thanks. Feel free to request my review or ping me when you're done

[2020-08-04 21:40] #11 closed

[2020-08-05 15:18] fdoxyz opened #94 "App crashes immediately (can't open) - Android 5.0 Lollipop"
Original Bug report from @uzair004 over in https://github.com/forem/forem/issues/9635

**Bug Description**

related to DEV android app
Can't open App , crashes immediately when clicked.
**_Error Message_** "_Unfortunately DEV stop working_"

**To Reproduce**

1. Update Android System Web view to _version 84.0.4147.111_
2. Update DEV android app to _version 1.4.1_
3. Click app to open it.

**Expect

[2020-08-10 10:25] patarapolw opened #95 "App always crashes when accessing from the notification area"
For about a week now, dev.to Android app always crashes when accessed from push message, i.e. Notification Area, on Vivo.

Actually, the first ever notification message is [Wisdom engine "DEV Community" runtime exception](https://dev.to/patarapolw/wisdom-engine-dev-community-runtime-exception-2ahh). After I slided to hide that message, this error consistently happen.

**To Reproduce**

1. A notifi

[2020-08-10 14:08] maestromac commented on #95
Hello @patarapolw can you try clearing the app's cache and storage and see if you can still reproduce this issue?

[2020-08-10 14:13] patarapolw commented on #95
Now, it's even worse. It crashes upon trying to sign in both via GitHub and Twitter.

[2020-08-10 15:06] fdoxyz commented on #95
Thank you for the report @patarapolw! I'm now seeing this problem too on Android 8. After clearing my data I didn't see the expected result when tapping on a PN either, but I didn't encounter the login problem you mention.

AFAIK it's not straightforward to debug the release build from the store. A viable way to debug this is to boot up a local forem install with Push Notifications configured (you

[2020-09-07 19:42] schmelto opened #97 "Link highlighted"
**Describe the bug**
Through scrolling the news feed done links change there color without really clicking on them.

**To Reproduce**
1. Go to news feed
2. Scroll down
3. Taping on link through scrolling (not enter)

**Expected behavior**
Heighlght after kicking and entering the link.

**Smartphone:**
 - Device: Huawei P10
 - OS: Android
 - Version: 9

[2020-09-13 15:47] jessleenyc opened #98 "App crashing upon trying to login"
**Describe the bug**

A user has written in to share that whenever they try to login, it'll ask for credentials but then the app will close. Happening for both Twitter & Github.

**To Reproduce**
Try logging in with the below device.

**Smartphone (please complete the following information):**
 - Huawei Mate 10 lite with 8.0.0

[2020-09-13 15:54] ItzaMi commented on #98
Thank you, @jessleenyc , I was the one that sent the email
Here's a gif that shows what's happening (sorry for the low quality)
As you can see, when you choose your credentials, it just closes the app

![devLogin](https://user-images.githubusercontent.com/30603437/93022481-8c638300-f5e1-11ea-987e-93cdfe38330f.gif)

[2020-09-16 13:35] maestromac commented on #98
@ItzaMi Thank you for your patience. We just released the fix to beta track. You can expect production release in the upcoming days.

[2020-09-18 13:51] fdoxyz commented on #98
The fix was shipped in the latest release `1.4.2`

[2020-09-18 13:51] #98 closed

[2020-09-18 13:53] #94 closed

[2020-09-30 14:49] #76 closed

[2020-09-30 15:13] fdoxyz commented on #97
This is a visual enhancement that could definitely be added to the App. However, this is the general way links behave in the browser as well, so the solution lives somewhere between the web app and here.

If we can find some CSS patch to apply to make sure the links don't get highlighted when scrolling it would be a great addition. A posssible way to do this is:

[code]

The JS suggestion above co

[2020-09-30 19:46] fdoxyz commented on #17
Closing as this area has been redesigned

[2020-09-30 19:46] #17 closed

[2020-09-30 19:47] #10 closed

[2020-10-02 03:43] OrganizationIdentity opened #103 "rosdi ab latiff"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-10-02 07:50] #103 closed

[2020-10-04 05:34] alokbharti commented on #93
Hey @vangyyy , @fdoxyz , can I take this issue?

[2020-10-04 11:48] vangyyy commented on #93
Sure I would like to see it done, but it's not on me to decide if it's accepted. Maybe create a pull request and discussion will start on this, as it seems to be stale at the moment.

[2020-11-07 14:11] gautamkrishnar opened #105 "Android app is broken"
**Describe the bug**
Android app of dev.to is broken

**To Reproduce**
Download fresh app from the play store, open it.

**Expected behavior**
App should work properly

**Screenshots**
![Screenshot_20201107-180728.jpg](https://user-images.githubusercontent.com/8397274/98441460-71664880-2124-11eb-9c3a-2d44bbb6b549.jpg)

**Smartphone (please complete the following information):**

- Device: OnePlus

[2020-11-08 00:41] fdoxyz commented on #105
Thank you for the report @gautamkrishnar. I wasn't able to reproduce on Samsung A21 with Android 10. It looks like on the Service Worker wasn't able to load in your case. Does the issue persist if you turn Airplane mode off/on or if you restart the app?

[2020-11-08 00:42] #88 closed

[2020-11-08 00:47] gautamkrishnar commented on #105
Thanks @fdoxyz tired flight mode. Its working now. Closing this one.

[2020-11-08 00:47] #105 closed

[2020-11-08 08:52] 6Anasovich9 opened #106 "App crashes after closing it"
**Describe the bug**
App always crashes after closing it with the back button

**To Reproduce**
1. Open the app
2. Press the back button to exit

**Expected behavior**
The app exists with no further messages

**Screenshots**

<img src="https://user-images.githubusercontent.com/26164108/98460738-8b00a200-21af-11eb-919c-9af5749e9b68.jpg" width="450"/>

**Smartphone:**
 - Device: **Xiaomi Redmi 4X**

[2020-11-09 00:26] fdoxyz commented on #106
Thank you for the report and making us aware of this @6Anasovich9!

[2020-11-09 23:28] #106 closed

[2020-11-22 16:08] bluetoothfx commented on #95
@fdoxyz would you please share how should I setup complete local development environment for this issue. I guess I need to generate notification from Web app. Please guide me how should I make an environment which I can debug with.
BTW I have windows based development environment + I would like to go with Docker if there is any. Thanks.

[2020-11-23 14:03] fdoxyz commented on #95
Absolutely @bluetoothfx! Here's the steps with a few links for step-by-step guides:

1. Spin up the local web app. This is the guide for the container installation: https://docs.forem.com/installation/containers/
1. Since you'll be working on your device I can recommend using [ngrok](https://ngrok.com/) to easily expose your local app
1. The Push Notifications are sent using Pusher Beams. This is

[2020-12-04 21:42] fdoxyz commented on #116
Thanks for the report @thamaraiselvam, it's been a while and we've merged a few PRs related to this since. I think we missed tagging this issue for the automatic close after a PR, sorry for not getting back to this earlier.

We're currently on `1.5.0-2` and I wasn't able to replicate on Android 10. I'm closing now but feel free to reopen if the problem persists at any moment with a bit more detail

[2020-12-04 21:42] #116 closed

[2020-12-08 17:38] ItzaMi opened #117 "Pressing the cog on blog post doesn't display edit options"
**Describe the bug**
Pressing the `cog` (settings) inside a blog post, on mobile app, doesn't do the pretended behaviour (shows up a slight white bar on the top but that's it)

**To Reproduce**
1. Have mobile app
2. Choose a post created by you
3. Press `cog` (settings, next to `Save Changes`) inside the post
4. See error and slight white bar on top of window

**Expected behavior**
I'm not sure wh

[2020-12-09 13:58] fdoxyz commented on #117
Hi @ItzaMi thank you for the report! I just tested this and can confirm I'm able to reproduce the problem.

This part of the app lives entirely in the frontend of the web repo, it's also reproducible on Chrome (without the native app) and on iOS as well. I'm aware the issue was created originally over in that repo and then moved over here, sorry for that mishap!

I'm transferring the issue over so

[2020-12-28 05:55] PrajjwalDatir commented on #93
@vangyyy  I have created a PR. Do tell me , if you want me to do anything more :)

[2021-01-04 15:31] fdoxyz commented on #93
Thank you for the contribution @PrajjwalDatir. The issue is marked as discussion so no official stance has been made yet on whether we will actually change the app name.

In this new year we may see some bigger changes come to the project similar to how we've been experimenting on iOS with https://github.com/forem/ForemWebView-ios

Thank you for your interest and I can recommend you (and anyone in

[2021-02-01 21:17] #97 closed

[2021-02-28 10:28] AhsabAli2000 commented on #36
This is happening today too on desktop brave

[2021-04-26 05:22] sami1236751 commented on #95
I have an app crashing problem, many of app are crashing my phone what can i fo this?

[2021-04-26 05:26] sami1236751 commented on #95
all important app are crashed my phone i think vivo is a very unfit phone.

[2021-04-26 19:33] codinghusi opened #125 "App redirects to Notifications > Comments after loosing focus"
(A bug on the Android App, is this the right place for it?)

**Describe the bug**
When the app loses focus, it redirects me always to Notifications > Comments.
That behaviour is very nerve wrecking when I just shortly answer a chat or check a translation while writing an article (as I'm not native english)

**To Reproduce**
1. Go to whatever Home, Listing or any other
2. Loose Focus: Press Home bu

[2021-04-27 16:21] foresthoffman opened #124 "Excessive pull-down to refresh in private messages"
**Describe the bug**
When attempting to scroll up in the Messages view, the "pull down to refresh" event activates when that is not the desired behavior.

There appears to be multiple points (as you scroll down) after which scrolling up is prevented by the "pull down to refresh" freature. I've noticed this behavior in the Messages side bar, where you can see the list of users and groups. I've also

[2021-04-28 14:51] fdoxyz commented on #124
Thank you for the report @foresthoffman!

This is an issue that affects all mobile platforms and it seems related to the way scrolling is handled in the Connect sidebar (connect channel selection).

There's also this open issue that would ideally refactor the way the "pull to refresh" feature is implemented: https://github.com/forem/forem/issues/7886

I'm moving this to the main repo because it's

[2021-04-28 14:53] fdoxyz commented on #124
This is a video recording of the issue happening on an iOS device:

https://user-images.githubusercontent.com/6045239/116424755-03f7c280-a7ff-11eb-8310-9a0a7cc8c623.MP4

[2021-04-28 19:21] codinghusi commented on #125
Oh nice, that fixed it for me, too!
Didn't think that this could fix the issue, thanks a lot :)

[2021-05-13 00:32] steskalja opened #127 "Dev App for Windows"
With the idea of creating native webview apps for Dev. Will there be a Windows 10 app coming out? I no longer see dev.to as an installable pwa.

[2021-05-18 18:03] fdoxyz commented on #127
Hello @steskalja, we indeed chose to remove the PWA features from all Forems (DEV included) for the moment.

For a bit of context on the topic, we do want to bring it back but in a slightly different form. We don't have a set timeframe for this at the moment though. If you're strongly interested in this feature we welcome everyone to start conversations about feature requests in _forem.dev_ ([more

[2021-06-01 16:33] michael-tharrington opened #130 "Possible Issue with Nav Bar on Some Mobile Phones"
**Describe the bug**

For some users, the top nav bar (bar with search, notifications, chat, etc.) isn't sticky on mobile. That said, this isn't the case for all users.

**Expected behavior**

The top nav bar should be sticky and visible to all.

**Screenshots**

Here are some screenshots that a DEV user give me permission to share:

![Screenshot_20210529-172700_2](https://user-images.githubuserco

[2021-08-14 18:08] thormeier commented on #67
Experienced a similar behaviour today related to "Pull to reload" behaviour when trying to scroll up in the editor. Depending on the scroll speed this might be interpreted as sudden reload.

[2021-10-02 18:26] PrajjwalDatir commented on #93
@fdoxyz It's been 9 months (ᵔᴥᵔ)

[2021-11-06 01:35] JoelPagliuca commented on #67
Also noticed this - scroll to refresh probably isn't necessary in editing mode?

[2021-11-16 19:11] FounderCasey opened #136 "Issue with dark mode DEV logo"
**Describe the bug**

A DEV user reached out to us on Discord with a bug that is not displaying the DEV logo properly while on dark mode.

**Screenshots**
![image](https://user-images.githubusercontent.com/19507316/142049902-053ded7e-14c4-44d5-9f4d-00fcb4d45154.png)

**Smartphone (please complete the following information):**
 - Device: Android Device
 - OS: Unkown
 - Version: 1.5.0 - 2

[2021-11-30 08:20] archanamm95 commented on #95
Am using iqoo phone .Now when ever I open whatspp it will automatically close and back to home page

[2021-11-30 08:27] bluetoothfx commented on #95
Could you please attach your finds? e.g video. Thanks

[2021-11-30 08:30] bluetoothfx commented on #95
Dear @fdoxyz it has been a year but I didn't manage schedule for set the environment to reproduce the issue. I am sorry from my heart. If anyone interested or team want to take action to solve please go ahead.

[2021-12-02 06:40] rt4914 opened #138 "Pop up to migrate users Forem Android app"
Pop up to migrate users Forem Android app

All other information can be found here: https://github.com/forem/rfcs/issues/335

Also similar iOS PR: https://github.com/forem/rfcs/issues/181

[2021-12-07 22:13] fdoxyz commented on #95
No worries @bluetoothfx, thank you for taking the time to look into it in the first place.

We are planning to sunset the DEV Android app ([just like we did for iOS](https://dev.to/devteam/sunsetting-the-devto-ios-app-44nl)) soon (see #138) so it feels like fixing this bug won't be needed in the end.

If you or anyone following this thread would like to receive private beta access feel free to sha

[2021-12-19 23:33] akulpillai opened #140 "[Security] Workflow runOnGitHub.yml is using vulnerable action actions/checkout"
The workflow runOnGitHub.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fi

[2021-12-25 14:15] xtanion commented on #136
As from the screenshots it seem like a MIUI based device, It simply reverts the color of UI (even SVG images).

[2021-12-30 18:20] maestromac commented on #140
Thank you for the report @akulpillai however our `runOnGitHub` is a dummy file that we're not actually using

[2021-12-30 18:20] #140 closed

[2022-01-05 21:32] StarTrooper08 opened #142 "Can we have dev profile sharing button/option in dev Android App"
**Is your feature request related to a problem? Please describe.**

Many times I want to share my dev profile with others and I can do it easily on the web browser but there is no option on the dev android app.
So we add a button through which we can easily share our dev profile through the dev android app.

![ss](https://user-images.githubusercontent.com/72031540/148292368-010d80cc-0c60-4b1a-ada1

[2022-01-08 07:53] StarTrooper08 commented on #142
Can I work on this issue.

[2022-01-12 23:16] yafkari commented on #142
Would be better to be consistent and add a three dots button similar to the one present on the profile page of a user. See illustration:

![image](https://user-images.githubusercontent.com/41365655/149238143-3ff8f2b9-d1fd-4c5b-9cc5-ebad54488381.png)

You would click on the button and see an option "Copy profile to clipboard" or "Share profile" that would open the share pop up.

We can also think a

[2022-01-13 06:23] StarTrooper08 commented on #142
Yep nice suggestion.

[2022-01-21 16:11] #138 closed

[2022-03-03 20:14] alexanderadam commented on #14
There's not even [an RFP issue](https://gitlab.com/fdroid/rfp/-/issues?search=dev&sort=created_date&state=opened) available, right?

[2022-04-29 17:11] ahangarha commented on #14
Any update regarding F-Droid release?

[2022-04-29 20:21] rugk commented on #14
I agree it would be great to see this Android app on F-Droid!

[F-Droid](https://f-droid.org/) is an Android app store specifically for free/libre open-source apps. It would be great if your app could be released there, as it is the number one for getting FLOSS Android apps for many people.
F-Droid also builds all apps from source ([optionally even reproducible](https://f-droid.org/en/docs/Reprodu

[2022-05-22 13:32] #93 closed

[2022-08-19 02:42] bpires opened #150 "Broken link on README / DEV Community app vs. Forem app question"
The “Get it on Google Play” button on README.md leads to a broken URL.

Couldn't find DEV Community Android App by searching directly on the Play Store either.

I have been using the Forem Android App to access DEV.to. Is it safe to assume that the stand-alone android app has been deprecated in favour of the Forem App? If this is the case, it would be better to provide some clarification in the re

[2022-09-20 20:39] rt4914 commented on #23
Closing this issue as it can be covered correctly only when we plan to create app natively. We don't need to keep this separate issue open.

[2022-09-20 20:39] #23 closed

[2022-09-20 20:40] rt4914 commented on #37
Looks like no was faced this issue. Lets deprecate this issue.

[2022-09-20 20:40] #37 closed

[2022-09-20 20:40] rt4914 commented on #49
Closing this as it is not required now.

[2022-09-20 20:40] #49 closed

[2022-09-20 20:40] rt4914 commented on #62
Closing this as it is not required now.

[2022-09-20 20:40] #62 closed

[2022-09-20 20:41] rt4914 commented on #66
Closing this as it is not required now.

[2022-09-20 20:41] #66 closed

[2022-09-20 20:42] rt4914 commented on #69
Closing this as it is not required now.

[2022-09-20 20:42] #69 closed

[2022-09-20 20:42] rt4914 commented on #85
Closing this as it is not required now.

[2022-09-20 20:42] #85 closed

[2022-09-20 20:42] rt4914 commented on #87
Closing this as it is not required now.

[2022-09-20 20:42] #87 closed

[2022-09-20 20:43] rt4914 commented on #95
Closing this as it is not required now.

[2022-09-20 20:43] #95 closed

[2022-09-20 20:43] rt4914 commented on #127
Closing this as it is not required now.

[2022-09-20 20:43] #127 closed

[2022-09-20 20:43] rt4914 commented on #81
Closing this as it is not required now.

[2022-09-20 20:43] #81 closed

[2022-09-20 20:44] rt4914 commented on #125
Closing this as it is not required now.

[2022-09-20 20:44] #125 closed

[2022-09-20 20:44] rt4914 commented on #136
Closing this as it is not required now.

[2022-09-20 20:44] #136 closed

[2022-09-20 20:44] rt4914 commented on #150
Closing this as it is not required now.

[2022-09-20 20:44] #150 closed

[2022-09-20 20:46] rt4914 commented on #130
Fixed in web. Closing this as it is not required now.

[2022-09-20 20:46] #130 closed

[2022-09-20 20:48] rt4914 commented on #91
Image is getting added on Forem app.

[2022-09-20 20:48] #91 closed

[2022-09-20 20:49] rt4914 commented on #67
This has been fixed. There is no scroll-to-refresh feature on create post

[2022-10-27 18:40] michael-tharrington opened #151 "Issues with back navigation button"
**Describe the bug**
One of our long-time moderators, @thomasbnt, pointed out that they’re having mixed results with the back button in the Android app and they outlined a test pattern which I followed and confirmed I was getting the same results.

**To Reproduce**

Just follow these steps:
1. Open the app
2. Click on any post
3. Try to use the back button with a hand gesture OR back button at the

[2022-10-27 19:02] thomasbnt commented on #151
![Preview Forem App with the bug](https://user-images.githubusercontent.com/14293805/198376185-c084e8b0-3d32-450c-8f51-8e7d99820d8d.mp4)

[2022-10-27 20:04] fdocr commented on #151
Thanks for the report! I'm going to transfer this issue to a different repo so it can be handled there